<section class="links">
  <a href="<%= '/games/' + username %>" class="links" id="my_games_link">My Games</a>
  <a
    href="<%= '/users/' + username %>"
    class="links"
    id="user_details_link"
  >My Details</a>
</section>